.aboutme{
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
            rgba(199, 88, 400, 100) 35%, rgba(0, 212, 255, 1) 100%);
}
.title2{
    width: 50%;
    height: 200px;
    float: left;
    color: white;
    text-align: center;
}

.img1{
    width: 50%;
    height: 200px;
    align-items: center;
    justify-content: center;
    float: left;    
    margin-top: 4%;
    background-image: 
    url('/img/M031289bc40788db30053c8f62475680b1772327828040.png');
}
.par1{
    text-align: justify;
    color: whitesmoke;
}

