.footer1{
      width: 100%;
      height: 90px;
      background: #020024;
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, 
    rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
        margin: 0%;
        padding: 0%;
        overflow: hidden;
        display: inline;
        justify-content: center;
        display: block;
        color: white;
        left: 0;
        bottom: 0;
        flex-direction: column;

    
    }
.p1{
    text-align: center;
}