.info-encab {
    width: 100%;
    height: 400px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
            rgba(199, 88, 400, 100) 35%, rgba(0, 212, 255, 1) 100%);
    
}

.title1 {
    width: 50%;
    height: 250px;
    float: left;
    color: white;
}

.subtitle1{
    text-align: center;
}

p {
    text-align: center;
}

.btn1 {
    margin-left: 10px;
    background-color: #090979;
    font-size: 10px;
    padding: 10px 24px;
    border-radius: 2px;
    border: 2px dashed #70e884;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);

}

input {
    font-size: 10px;
    padding: 10px 24px;
    border-radius: 2px;
}

.tag-a {
    color: white;
    text-decoration: none;
    font-size: 11px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.video1 {
    width: 50%;
    height: 350px;
    float: right;
}

video {
    width: 100%;
    height: 250px;
    margin-top: 2%;
}