.header1{
    text-align: center;
}

.container{
    width: 100%;
    min-height: 80vh;
    background: #fff;
}
.container h2{
    color: #29517e;
    font-size: 32px;
    padding: 15px 0 20px 0;
    text-align: left;
    margin-left: 10%;
}
.container h3{
    margin: 0% 0 2% 10%;
    font-size: 24px;
    color: #0C356A;
}
.precio-fila{
    width: 81%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.precio-col{
    transition: box-shadow .5s;
    transition: transform;
    background: #7ee95b;
    padding: 10% 10%;
    border-radius: 10px;
    color: #D8D9DA;
    text-align: center; 
}
hr{
    padding: -10% !important;
}
.precio-col:hover{
    box-shadow:0 0 20px rgba(96, 223, 255, 0.2) ;
    transform: scale(1.04);
}
.precio-col p{
    font-size: 22px;
}
.precio-col h3{
     color: whitesmoke;
    font-size: 44px;
    margin: 15px 0 20px;
    font-weight: 500;

}
.precio-col ul{
    text-align: left;
    margin: 10px 0;
    color: #2674d9;
    list-style: none;
}
.precio-col ul li{
      border-bottom: 2px solid #feffff;
    font-size: 20px;
    color: #ffffff;
    padding: 8px;
    text-align: left;
}
.par1{
    font-size: 24px !important;
    margin-bottom: 10px;
    margin-top: -10px;
}
#prem{
     color: black !important;
    text-shadow: 1px 1px greenyellow;
}
#best{
    background: #73ace5 !important;
}
.precio-col button{
    background-color: #EEE0C9;
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px 0 0 0;
    color: #001c38;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.precio-col button:hover{
    background: #091c23;
    color: white;
}
  .back-to-top {
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
           background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 10px;
            font-size: 18px;
            text-decoration: none;
        }