.servicios{
    text-align: center;
 }
.subtitle3{
    text-align: center;
}
.card1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.card1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container1{
    padding: 2px 16px;
}
.img1{
    width: 30%;
    border-radius: 5px 5px 0 0;
}
.link1{
    color: blue;
    text-decoration: none;
    font-size: 15px;
    font-size: 10px;
    padding: 10px 24px;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
  .back-to-top {
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
           background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 10px;
            font-size: 18px;
            text-decoration: none;
        }